<div class="home">
    <div class="container">
        <div class="title">
            <div class="row">
                <div class="offset-2 col-md-8 mt-5">
                    <h1 class="ibm-plex-mono-bold fs-1">Online calculator to solve <span style="color: rgb(143, 100, 211);">numerical method</span> 
                        problems online</h1>
                </div>
            </div>       
        </div>

        <div class="body">
            <div class="row">
                <div class="offset-1 col-md-9 mt-5">
                    <a class="card text-decoration-none">
                        <h2 class="">Bisection Method</h2>
                        <div style="height: 30px;"></div>
                        <h5 class="">Start</h5>
                    </a>
                </div>
            </div>
        </div>
    </div>
    
    
    
</div>

